<!-- Coming Soon -->
<div class="coming-soon-area" *ngFor="let bgImage of BGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="coming-soon-content">
                    <h1>Under Construction</h1>
                    <p>Our website is currently undergoing scheduled maintenance. We Should be back shortly. Thank you for your patience.</p>
                    <form>
                        <input type="email" name="email" id="email" class="email-input" placeholder="Enter your email">
                        <button type="submit" class="submit-btn">Notify Us</button>
                    </form>
                    <div id="timer">
                        <div id="days">
                            {{days}} <span>Days</span>
                        </div>
                        <div id="hours">
                            {{hours}} <span>Hours</span>
                        </div>
                        <div id="minutes">
                            {{minutes}} <span>Minutes</span>
                        </div>
                        <div id="seconds">
                            {{seconds}} <span>Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="social-list">
        <li class="list-heading">Follow us for update:</li>
        <li><a href="#" class="facebook" target="_blank"><i-feather name="facebook"></i-feather></a></li>
        <li><a href="#" class="twitter" target="_blank"><i-feather name="twitter"></i-feather></a></li>
        <li><a href="#" class="linkedin" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
        <li><a href="#" class="instagram" target="_blank"><i-feather name="instagram"></i-feather></a></li>
    </ul>
</div>