.messages-container {
    position: fixed;
    top: 20px; /* Ajustement pour positionner en haut */
    right: 20px; /* Ajustement pour positionner à droite */
    z-index: 9999; /* Assurez-vous que les messages s'affichent au-dessus de tout autre contenu */
  }
  