/*products-details-css*/
.products-details-image {
    img {
        width: 100%;
    }
}
.products-details {
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .price {
        margin-bottom: 15px;

        span {
            text-decoration: line-through;
            color: var(--paragraphColor);
        }
    }
    .rating {
        padding: 0;
        margin: 0 0 12px;
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 3px;
            color: #eac11d;

            i {
                &::before {
                    font-size: 15px;
                }
            }
        }
    }
    .availability {
        margin-bottom: 20px;
        
        span {
            color: var(--mainColor);
        }
    }
    form {
        .quantity {
            margin-bottom: 20px;

            span {
                padding-right: 10px;
            }
            .input-counter {
                max-width: 110px;
                min-width: 110px;
                text-align: center;
                position: relative;
                display: inline-block;
    
                input {
                    height: 47px;
                    color: var(--blackColor);
                    outline: 0;
                    display: block;
                    border: none;
                    background-color: #f8f8f8;
                    text-align: center;
                    width: 100%;
                    font: {
                        size: 17px;
                        weight: 500;
                    };
                    &::placeholder {
                        color: var(--blackColor);
                    }
                }
            }
        }
        button {
            background: var(--mainColor);
            color: var(--whiteColor);
            border: none;
            height: 46px;
            padding: 0 20px;
            position: relative;
            top: -3px;
            cursor: pointer;
            outline: 0;
            transition: var(--transition);

            &:hover, &:focus {
                background-color: var(--purpleColor);
                color: var(--whiteColor);
            }
        }
        input[type=number]::-webkit-inner-spin-button,  input[type=number]::-webkit-outer-spin-button {  
            opacity: 1;
        }
        .add-to-wishlist-btn {
            margin-left: 10px;
            background: transparent;
            color: var(--blackColor);
            border: 1px solid #eeeeee;
            position: relative;
            top: -2px;
            cursor: pointer;
            outline: 0;
            transition: var(--transition);
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;

            &:hover, &:focus {
                background-color: var(--purpleColor);
                color: var(--whiteColor);
                border-color: var(--purpleColor);
            }
        }
    }
    .custom-payment-options {
        margin-top: 20px;

        span {
            display: block;
            margin-bottom: 10px;
        }
        img {
            margin-right: 5px;
        }
    }
    .products-share-social {
        margin-top: 25px;

        span {
            display: inline-block;
            margin-right: 10px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: inline-block;

            li {
                display: inline-block;
                margin-right: 5px;

                a {
                    width: 32px;
                    height: 32px;
                    line-height: 27px;
                    border-radius: 50%;
                    text-align: center;
                    color: var(--mainColor);
                    border: 1px solid var(--mainColor);
                    
                    i-feather {
                        width: 15px;
                    }
                    &.facebook {
                        border-color: #4267b2;
                        color: #4267b2;

                        &:hover {
                            background: #4267b2;
                            color: var(--whiteColor);
                        }
                    }
                    &.twitter {
                        border-color: #38A1F3;
                        color: #38A1F3;

                        &:hover {
                            background: #38A1F3;
                            color: var(--whiteColor);
                        }
                    }
                    &.linkedin {
                        border-color: #0077B5;
                        color: #0077B5;

                        &:hover {
                            background: #0077B5;
                            color: var(--whiteColor);
                        }
                    }
                    &.instagram {
                        border-color: #231F20;
                        color: #231F20;

                        &:hover {
                            background: #231F20;
                            color: var(--whiteColor);
                        }
                    }
                    &:hover {
                        background: var(--mainColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }
}
.products-details-tabs {
    margin-top: 40px;
    text-align: center;

    h3 {
        margin-bottom: 12px;
        font-size: 18px;
    }
    .additional-information {
        padding: 0;
        margin: 25px 0 0;
        list-style-type: none;
        text-align: start;

        li {
            border: 1px solid #eeeeee;
            border-bottom: none;
            padding: 10px 15px;
            color: var(--paragraphColor);

            &:last-child {
                border-bottom: 1px solid #eeeeee;;
            }
            span {
                display: inline-block;
                width: 45%;
            }
        }
    }
    .products-reviews {
        text-align: start;
        max-width: 700px;
        margin: 0 auto;

        p {
            margin-bottom: 0;
        }
        .review-form {
            margin-top: 20px;
            max-width: 620px;

            p {
                margin-bottom: 0;
            }
            .form-control {
                background: transparent;
            }
        }
        .star-source {
            width: 0;
            height: 0;
            margin-top: 5px;
            visibility: hidden;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                padding: 0 0.15rem;
            }
        }
        .star-rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            width: 105px;
            margin-bottom: 10px;

            label {
                cursor: pointer;
                
                .star {
                    color: transparent;
                    transition: color 0.2s ease-in-out;
                }
            }
            label:hover ~ label .star, svg.star:hover, input[name="star"]:focus ~ label .star, input[name="star"]:checked ~ label .star {
                color: #f2b01e;
            }
            svg {
                width: 1.5rem;
                height: 1.5rem;
                padding: 0 0.15rem;
            }
            input {
                &[name="star"] {
                    display: inline-block;
                    width: 0;
                    opacity: 0;
                    margin-left: -2px;
                }
                &[name="star"]:checked {
                    + label {
                        animation: scaleup 1s;

                        .star {
                            animation: starred 0.5s;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .products-details {
        margin-top: 20px;

        h3 {
            font-size: 17px;
            margin-bottom: 10px;
        }
        form {
            button {
                padding: 0 13px;
            }
            .quantity {
                display: block;
                padding-right: 0;
                margin-bottom: 15px;

                input {
                    height: 45px;
                }
            }
            .add-to-wishlist-btn {
                width: 40px;
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .products-details {
        form {
            .quantity {
                display: inline-block;
                padding-right: 10px;
                margin-bottom: 0;
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .products-details {
        margin-top: 25px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1550px) {

}