<footer class="footer-area bg-f7fafd">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a routerLink="/"><img src="assets/img/OZISS-02.png" alt="logo"></a>
                    </div>
                    <p>
                        OZISS COOPERATION estime que la technologie est un atout crucial pour le succès de toute opération. Nous nous sommes positionnés pour aider les entreprises à comprendre et à encourager l’acceptation de la technologie de manière transparente.

Nos prestations s’adressent aux entreprises souhaitant bénéfcier d’un service professionnel pour l’installation, la maintenance et l’infogérance de leur parc informatique et création de site web. Nous pouvons intervenir dans vos locaux que vous utilisiez un environnement Apple et Microsoft
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Company</h3>
                    <ul class="list">
                        <li><a routerLink="/">About Us</a></li>
                        <li><a routerLink="/">Services</a></li>
                        <li><a routerLink="/">Features</a></li>
                        <li><a routerLink="/">Our Pricing</a></li>
                        <li><a routerLink="/">Latest News</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Support</h3>
                    <ul class="list">
                        <li><a routerLink="/">FAQ's</a></li>
                        <li><a routerLink="/">Privacy Policy</a></li>
                        <li><a routerLink="/">Terms & Condition</a></li>
                        <li><a routerLink="/">Community</a></li>
                        <li><a routerLink="/">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i-feather name="map-pin"></i-feather> Tunisie : (S.Soc : AV 18 Janvier Ariana Centre Escalier C Bureau N° 408 Ariana ville Tunisie )</li>
                        <li><i-feather name="map-pin"></i-feather> CAMEROUN : Douala</li>
                        <li><i-feather name="map-pin"></i-feather> COTE D'IVOIRE : Abidjan</li>
                        <li><i-feather name="map-pin"></i-feather> MALI : Bamako</li>
                        <li><i-feather name="map-pin"></i-feather> GUINEE : Conakry</li>
                        <li><i-feather name="map-pin"></i-feather> RDC : Kinshasa</li>
                        <li><i-feather name="map-pin"></i-feather> BELGIQUE : Liège</li>                       
                        <li><i-feather name="mail"></i-feather> Email: <a href="mailto:contact&#64;ozisscorporation.com">contact&#64;ozisscorporation.com</a></li>
                        <li><i-feather name="phone"></i-feather> Phone: <a href="tel:+ (216) 55 127 914">[+216] 55 127 914</a></li>
                    </ul>
                    <ul class="social-links">
                        <li><a href="#" class="facebook" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                        <li><a href="#" class="twitter" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                        <li><a href="#" class="instagram" target="_blank"><i-feather name="instagram"></i-feather></a></li>
                        <li><a href="#" class="linkedin" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="copyright-area">
                    <p>© Profun is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/map.png" class="map" alt="map">
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</footer>