<app-navbar-style-one></app-navbar-style-one>

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape" ></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>

<!-- About -->
<div class="agency-about-area ptb-80">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="agency-about-img">
                    <!-- <img src="assets/img/agency-image/about-img.jpg" alt="image"> -->
                    <img src="assets/img/agency-image/SLIDES_OZISS-011.png" alt="image">

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="agency-about-content">
                    <span class="sub-title">A Propos de Nous</span>
                    <h2>Bienvenue a OZISS Cooperation Sarl</h2>
                    <div class="bar"></div>
                    <p>OZISS Cooperation Sarl est une entreprise de services informatiques fondée par des ingénieurs et des Auditeurs certifiés ISO 27001 dans le monde de l’informatique et de service.</p>
                    <p>Notre mission est d’assurer la disponibilité et l’évolution du système d’informations des organismes en proposant des contrats au forfait afin qu’elles puissent se concentrer sur leur cœur de métier tous nos programmes de formation sont dispensés par une équipe d’ingénieurs formateurs certifiés. Spécialiser dans la prestation des services informatiques en RDC, Tunisie, Niger, Cameroun et France..</p>
                    <boutton routerLink="/contact" class="btn btn-primary">Consulter nos services</boutton>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>NOTRE VISION</h3>
                        <p>Oziss cooperation à une vision élargie sur le continent africain dans le but de créer des logiciels, applications, site web etc. en partant de la mission majeure de répertorier tous les problèmes liés à la société en apportant des solutions grâce à la nouvelle technologie.

                            Et aussi Oziss cooperation à pour vision de former plus d’ingénieurs possibles en Afrique qui pourront maîtriser, analyser, concevoir et planifier. Des applications site web, etc. grâce à cette nouvelle technologie dans des conditions inédites. Et bien plus.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>NOS POINT FORT</h3>
                        <p>Nos produits Oziss peuvent être vus comme un ensemble de valeurs ou comme un panier d’attributs (ou de fonctionnalités ou de services rendus). Le bien, produit ou service, peut donc être vu comme un ensemble de fonctionnalités qui vont servir à le définir et qui tentent de répondre aux besoins de la société.

                            nos fonctionnalités premières sont définie théoriquement comme les valeur fonctionnels De la classe du produit ; c’est l’avantage basique ou générique apporté par chacune des marques faisant partie de la catégorie du produit..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>POURQUOI NOUS CHOISIR?</h3>
                        <p>Nos multi-compétences grâce à un seul interlocuteur, nos clients accèdent à solution pour un gain et d’argent.

                            Des solutions sur mesure Nos clients optimisent davantage leurs investissements en bénéficiant de solutions fables et évolutives
                            
                            Des solutions sur mesure Nos clients optimisent davantage leurs investissements en bénéficiant de solutions fables et évolutives
                            
                            Des oﬀres compétitives En phase avec les offres du marché, nous apportons de la valeur ajoutée aux entreprises à prix compétitifs
                            
                            Un savoir-faire pédagogique démontré permettant de faire comprendre facilement les problématiques techniques les plus complexes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>

<!-- Team -->
<!-- <div class="team-area ptb-80 bg-f9f6f6">
    <div class="container">
        <div class="section-title">
            <h2>Our Awesome Team</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="team-slides">
            <owl-carousel-o [options]="teamSlides">
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/1.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Josh Buttler</h3>
                                <span>CEO & Founder</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/2.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Alex Maxwel</h3>
                                <span>Marketing Manager</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/3.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Janny Cotller</h3>
                                <span>Web Developer</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/4.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Jason Statham</h3>
                                <span>UX/UI Designer</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/5.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Corey Anderson</h3>
                                <span>Project Manager</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/1.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Josh Buttler</h3>
                                <span>CEO & Founder</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/2.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Alex Maxwel</h3>
                                <span>Marketing Manager</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/3.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Janny Cotller</h3>
                                <span>Web Developer</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/4.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Jason Statham</h3>
                                <span>UX/UI Designer</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/5.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Corey Anderson</h3>
                                <span>Project Manager</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div> -->

<!-- Feedback -->
<!-- <div class="ml-feedback-area ptb-80">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Testimonials</span>
            <h2>Our Clients Feedback</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="ml-feedback-slides">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="single-testimonials-item">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                        <div class="client-info">
                            <img src="assets/img/client-image/1.jpg" alt="image">
                            <div class="rating">
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                            </div>
                            <h3>Sarah Taylor</h3>
                            <span>CEO at Envato</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonials-item">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                        <div class="client-info">
                            <img src="assets/img/client-image/3.jpg" alt="image">
                            <div class="rating">
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                            </div>
                            <h3>Steven Smith</h3>
                            <span>CEO at Envato</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonials-item">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                        <div class="client-info">
                            <img src="assets/img/client-image/2.jpg" alt="image">
                            <div class="rating">
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                            </div>
                            <h3>James Eva</h3>
                            <span>CEO at Envato</span>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="user-shape1"><img src="assets/img/agency-image/user1.png" alt="image"></div>
    <div class="user-shape2"><img src="assets/img/agency-image/user2.png" alt="image"></div>
    <div class="user-shape3"><img src="assets/img/agency-image/user3.png" alt="image"></div>
    <div class="user-shape4"><img src="assets/img/agency-image/user4.png" alt="image"></div>
    <div class="user-shape5"><img src="assets/img/agency-image/user5.png" alt="image"></div>
    <div class="user-shape6"><img src="assets/img/agency-image/user6.png" alt="image"></div>
</div> -->

<!-- Funfacts -->
<!-- <div class="funfacts-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>We always try to understand users expectation</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span [countUp]="180">00</span>K</h3>
                    <p>Downloaded</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span [countUp]="20">00</span>K</h3>
                    <p>Feedback</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span [countUp]="500">00</span>+</h3>
                    <p>Workers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span [countUp]="70">00</span>+</h3>
                    <p>Contributors</p>
                </div>
            </div>
        </div>
        <div class="contact-cta-box">
            <h3>Have any question about us?</h3>
            <p>Don't hesitate to contact us</p>
            <a routerLink="/contact" class="btn btn-primary">Contact Us</a>
        </div>
        <div class="map-bg">
            <img src="assets/img/map.png" alt="map">
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
	<div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
</div> -->

<!-- Partner -->
<div class="ml-partner-area pt-0 ptb-80">
    <div class="container">
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-1.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover1.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-2.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover2.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-3.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover3.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-10.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover10.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-5.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover5.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-6.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover6.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-7.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover7.png" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>