/*features-details-css*/
.features-details-desc {
    h3 {
        font-size: 20px;
        margin-bottom: 13px;
    }
    .features-details-list {
        padding: 0;
        margin: 20px 0 0;
        list-style-type: none;

        li {
            margin-bottom: 12px;
            color: var(--paragraphColor);
            position: relative;
            padding-left: 15px;

            &::before {
                background: var(--mainColor);
                width: 8px;
                height: 8px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                content: '';
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.separate {
    margin-top: 80px;
}
.features-details-image {
    text-align: center;
}

@media only screen and (max-width: 767px) {

    .features-details-desc {
        h3 {
            font-size: 18px;
        }
    }
    .features-details-image {
        order: 1;
        margin-bottom: 30px;
    }
    .features-details {
        order: 2;
    }
    .separate {
        margin-top: 30px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .features-details {
        order: 2;
    }
    .features-details-image {
        order: 1;
        margin-bottom: 40px;
    }
    .separate {
        margin-top: 40px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1550px) {

}