/*main-banner-css*/
.ml-main-banner {
    position: relative;
    z-index: 1;
    padding: {
        top: 130px;
        bottom: 140px;
    };
    background: {
        position: bottom right;
        repeat: no-repeat;
        size: cover;
    };
    .container-fluid {
        padding: {
            left: 70px;
            right: 70px;
        };
    }
}
.ml-banner-content {
    h1 {
        margin-bottom: 15px;
        line-height: 1.3;
        font: {
            size: 40px;
            weight: 500;
        };
    }
    p {
        font-size: 15px;
        max-width: 490px;
    }
    .btn {
        margin-top: 5px;
    }
}
.ml-banner-single-image {
    text-align: center;
}
.ml-main-section {
    position: relative;
    z-index: 1;
    padding: {
        top: 260px;
        bottom: 240px;
    };
    background: {
        position: bottom right;
        repeat: no-repeat;
        size: cover;
    };
    .ml-banner-content {
        h1 {
            font-size: 37px;
        }
        p {
            max-width: 100%;
        }
    }
}
.ml-banner-image {
    position: relative;
    height: 100%;
    width: 100%;
    top: 140px;

    img {
        position: absolute;

        &:nth-child(1) {
            left: 195px;
            top: -125px;
            z-index: 2;
        }
        &:nth-child(2) {
            top: -83px;
            left: 153px;
            z-index: 1;
        }
        &:nth-child(3) {
            top: 40px;
            left: 90px;
        }
        &:nth-child(4) {
            top: 0;
            right: 165px;
            z-index: 3;
        }
        &:nth-child(5) {
            top: -260px;
            left: 110px;
        }
        &:nth-child(6) {
            right: 130px;
            top: -240px;
        }
        &:nth-child(7) {
            bottom: 0;
            right: 0;
            z-index: 2;
        }
        &:nth-child(8) {
            right: 10px;
            bottom: 205px;
            z-index: 1;
        }
        &:nth-child(9) {
            left: 15px;
            top: -185px;
            z-index: 1;
        }
        &:nth-child(10) {
            left: 1px;
            bottom: -2px;
            z-index: 2;
        }
        &:nth-child(11) {
            left: 0;
            top: -20px;
        }
        &:nth-child(12) {
            display: none;
        }
    }
}

/*partner-css*/
.ml-partner-area {
    &.mt-minus-top {
        margin-top: -80px;
    }
}
.single-ml-partner {
    text-align: center;

    a {
        display: block;
        position: relative;

        img {
            width: auto !important;
            display: inline-block !important;

            &:last-child {
                position: absolute;
                top: 20px;
                left: 0;
                right: 0;
                margin: 0 auto;
                transition: var(--transition);
                opacity: 0;
                visibility: hidden;
            }
        }
        &:hover, &:focus {
            img {
                &:last-child {
                    opacity: 1;
                    visibility: visible;
                    top: 0;
                }
            }
        }
    }
}

/*solutions-css*/
.solutions-area {
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}
.single-solutions-box {
    padding: 20px 15px;
    text-align: center;
    transition: var(--transition);
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    border: 1px solid #c5fffd;
    border-radius: 5px;

    .icon {
        margin-bottom: 25px;
        position: relative;
        z-index: 1;
        display: inline-block;

        img {
            transition: var(--transition);
        }
        &::before {
            content: '';
            position: absolute;
            left: -5px;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            background: #f0fdfe;
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.09);
            border-radius: 30% 70% 70% 30% / 40% 60% 40% 60%;
            width: 60px;
            height: 60px;
        }
    }
    h3 {
        font-size: 18px;
        margin-bottom: 12px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        border-radius: 5px;
        height: 100%;
        background: linear-gradient(to right top, #d5fefd, #e0fdff, #effbff, #fbfaff, #fffcff);
    }
    .learn-more-btn {
        color: #365267;
        font: {
            size: var(--fontSize);
            weight: 600;
        };
        i-feather {
            width: 18px;
            position: relative;
            top: -1px;
            margin-right: 3px;
        }
        &:hover {
            color: var(--mainColor);
        }
    }
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

        .icon {
            img {
                transform: rotateY(-360deg);
            }
        }
    }
}

/*about-css*/
.about-area {
    position: relative;
    z-index: 1;
}
.ml-about-img {
    text-align: center;
}
.ml-about-content {
    max-width: 540px;

    .sub-title {
        background-color: #f5dffd;
        padding: 5px 20px 4px;
        display: inline-block;
        color: var(--purpleColor);
        margin-bottom: 18px;
        border-radius: 30px;
        font-size: 13px;
    }
    h2 {
        margin-bottom: 0;
        line-height: 1.4;
        text-transform: capitalize;
        font: {
            size: 28px;
            weight: 600;
        };
    }
    .bar {
        height: 5px;
        width: 90px;
        margin: 20px 0;
        position: relative;
        border-radius: 30px;
        background: #8893db;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -2.7px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: var(--mainColor);
            animation: {
                duration: 3s;
                timing-function: linear;
                iteration-count: infinite;
                name: MOVE-BG;
            };
        }
    }
    p {
        margin-bottom: 12px;
    }
    .btn {
        margin-top: 10px;
    }
}
.about-inner-area {
    margin-top: 60px;

    .about-text {
        h3 {
            font-size: 18px;
            margin-bottom: 15px;
        }
    }
}

/*services-css*/
.ml-services-area {
    background: linear-gradient(to left bottom, #fffcff, #fbfaff, #effbff, #e0fdff, #d5fefd);
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}
.single-ml-services-box {
    position: relative;
    z-index: 1;
    background-color: var(--whiteColor);
    text-align: center;
    margin-bottom: 30px;
    padding: 30px 25px;
    overflow: hidden;
    transition: var(--transition);

    .image {
        margin-bottom: 25px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 0;
    }
    &::before {
        content: '';
        position: absolute;
        left: -15px;
        bottom: -15px;
        width: 30px;
        height: 30px;
        transition: var(--transition);
        transform: rotate(45deg);
        background: var(--mainColor);
        visibility: hidden;
        opacity: 0;
    }
    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
}

/*funfacts*/
.funfacts-area {
    position: relative;
    z-index: 1;

    .section-title {
        h2 {
            max-width: 520px;
            margin: 0 auto;
            line-height: 37px;
        }
    }
    .map-bg {
        position: absolute;
        z-index: -1;
        top: 120px;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
    }
}
.funfact {
    text-align: center;

    h3 {
        color: var(--mainColor);
        font-size: 32px;
        margin-bottom: 7px;
    }
    p {
        line-height: initial;
    }
}
.contact-cta-box {
    margin: 80px auto 0;
    max-width: 600px;
    border: 1px dashed #ebebeb;
    padding: 30px 210px 30px 30px;
    border-radius: 5px;
    position: relative;

    h3 {
        font-size: 20px;
        margin-bottom: 6px;
    }
    p {
        margin-bottom: 0;
    }
    .btn {
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -27px;

        &::before, &::after {
            background: var(--mainColor);
        }
    }
    .btn-primary {
        background: var(--purpleColor);
        box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);

        &:hover, &:focus {
            box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
        }
    }
}

/*projects-css*/
.ml-projects-area {
    z-index: 1;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    
    .section-title {
        text-align: start;
        max-width: 530px;

        h2 {
            max-width: 470px;
            line-height: 1.3;
        }
        .bar {
            margin: {
                left: 0;
                right: 0;
            };
        }
    }
    .container-fluid {
        position: relative;
    }
}
.single-ml-projects-box {
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.175);

    img {
        border-radius: 5px;
    }
    .plus-icon {
        a {
            background-color: var(--mainColor);
            width: 70px;
            height: 70px;
            position: absolute;
            top: 20px;
            right: 20px;
            transform: scale(0);
            transition: all .4s ease-out 0s;
            overflow: hidden;
            border-radius: 50%;

            span {
                width: 25px;
                height: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &::before, &::after {
                    position: absolute;
                    content: '';
                    width: 2px;
                    height: 100%;
                    background-color: var(--whiteColor);
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::after {
                    height: 2px;
                    width: 100%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
            &:hover {
                background-color: var(--purpleColor);
            }
        }
    }
    &:hover {
        .plus-icon {
            a {
                transform: scale(1);
            }
        }
    }
}

/*pricing-css*/
.pricing-area {
    position: relative;
    z-index: 1;
}
.pricing-box {
    background: linear-gradient(to left bottom, #fffcff, #fbfaff, #effbff, #e0fdff, #d5fefd);
    text-align: center;
    padding: 30px;
    transition: var(--transition);
    border-radius: 5px;

    .pricing-header {
        h3 {
            margin-bottom: 0;
            font: {
                size: 20px;
            };
        }
        p {
            transition: var(--transition);
            line-height: 1.6;
            margin: {
                top: 10px;
                bottom: 0;
            };
        }
    }
    .price {
        font: {
            size: 35px;
            weight: 600;
        };
        margin: {
            bottom: 15px;
            top: 20px;
        };
        span {
            display: inline-block;
            margin-left: -7px;
            font: {
                size: 20px;
                weight: 600;
            };
        }
    }
    .buy-btn {
        margin-bottom: 30px;

        .btn {
            box-shadow: unset !important;
            transform: unset !important;
        }
        .btn-primary {
            border-radius: 30px;
            background: linear-gradient(to right top, #a3a3a3, #9a9a9a, #909090, #878787, #7e7e7e);
            text-transform: capitalize;
            padding: 11px 30px;
            font: {
                weight: 500;
            };
            &::after {
                border-radius: 30px;
                background: var(--mainColor);
                width: 100%;
                opacity: 1;
                visibility: visible;
            }
            &::before {
                display: none;
            }
            &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, & .show > &.dropdown-toggle {
                background: linear-gradient(to right top, #a3a3a3, #9a9a9a, #909090, #878787, #7e7e7e);
            }
            &:hover, &:focus {
                &::after {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
    .pricing-features {
        margin-bottom: 0;
        list-style-type: none;
        text-align: start;
        padding: {
            left: 15px;
            right: 15px;
        };
        li {
            margin-bottom: 12px;
            color: #495771;
            position: relative;
            padding-left: 27px;

            &:last-child {
                margin-bottom: 0;
            }
            i-feather {
                color: var(--mainColor);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
            }
        }
    }
}

/*feedback-css*/
.ml-feedback-area {
    background: linear-gradient(to right top, #d5fefd, #e0fdff, #effbff, #fbfaff, #fffcff);
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}
.single-ml-feedback-item {
    box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.04);
    background-color: var(--whiteColor);
    padding: 60px 70px 60px 190px;
    margin-bottom: 45px;
    position: relative;
    border-radius: 5px;

    .client-info {
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;

        img {
            border-radius: 5px;
            border: 2px solid #f4f5fe;
            width: 80px !important;
            height: 80px !important;
            padding: 5px;
            display: inline-block !important;
        }
        h3 {
            margin: {
                bottom: 0;
                top: 10px;
            };
            font: {
                size: 17px;
            };
        }
        span {
            display: block;
            color: var(--purpleColor);
            margin-top: 5px;
            font-size: 13px;
        }
    }
    p {
        margin-bottom: 0;
        color: #4a6f8a;
    }
    .rating {
        margin-top: 10px;

        i-feather {
            color: #ff612f;
            width: 18px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 5px;
        bottom: -15px;
        background-color: var(--whiteColor);
        box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.04);
        z-index: -1;
        margin: {
            left: 30px;
            right: 30px;
        };
    }
}
.ml-feedback-slides {
    max-width: 750px;
    margin: -40px auto 0;

    .single-ml-feedback-item {
        margin-top: 40px;
    }
}

/*blog-css*/
.blog-area {
    z-index: 1;
    position: relative;
    padding-bottom: 50px;
}
.single-blog-post-box {
    margin-bottom: 30px;
    transition: var(--transition);
    border-radius: 5px;

    .entry-thumbnail {
        a {
            display: block;
            
            img {
                border-radius: 5px 5px 0 0;        
            }
        }
    }
    .entry-post-content {
        background: linear-gradient(to right top, #d5fefd, #e0fdff, #effbff, #fbfaff, #fffcff);
        padding: 20px;

        .entry-meta {
            margin-bottom: 10px;

            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    position: relative;
                    margin-right: 12px;
                    color: var(--paragraphColor);
                    font: {
                        size: 14px;
                    };
                    &::before {
                        content: '';
                        position: absolute;
                        right: -7px;
                        top: 50%;
                        transform: rotate(14deg) translateY(-50%);
                        background: var(--paragraphColor);
                        width: 1px;
                        height: 13px;
                    }
                    a {
                        display: inline-block;
                        color: var(--paragraphColor);

                        &:hover {
                            color: var(--mainColor);
                        }
                    }
                    &:last-child {
                        margin-right: 0;

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
        h3 {
            margin-bottom: 0;
            line-height: 1.5;
            font: {
                size: 18px;
            };
        }
        p {
            margin: {
                top: 8px;
                bottom: 0;
            };
        }
        .learn-more-btn {
            margin-top: 15px;
            font-weight: 500;

            i-feather {
                width: 15px;
            }
        }
    }
}

/*free-trial-css*/
.free-trial-area {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        left: -30%;
        top: 0;
        background: linear-gradient(to right, #d5fefd, #e1fdff, #effdff, #fafdff, #ffffff);
    }
    .shape6 {
        top: 75%;
    }
}
.free-trial-image {
    text-align: center;
}
.free-trial-content {
    max-width: 540px;

    h2 {
        margin-bottom: 0;
        font: {
            size: 28px;
            weight: 600;
        };
    }
    form {
        position: relative;
        margin: {
            top: 25px;
            bottom: 10px;
        };
        .input-newsletter {
            display: block;
            width: 99%;
            height: 50px;
            color: var(--whiteColor);
            border: none;
            outline: 0;
            background-color: var(--blackColor);
            border-radius: 30px;
            padding: {
                top: 3px;
                left: 20px;
            };
            &::placeholder {
                color: #d5d5d5;
                transition: var(--transition);
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            height: 50px;
            cursor: pointer;
            border: none;
            padding: 0 30px;
            line-height: 50px;
            background-color: var(--mainColor);
            border-radius: 0 30px 30px 0;
            transition: var(--transition);
            color: var(--whiteColor);
            font: {
                size: 16px;
            };
            &:hover {
                background-color: var(--purpleColor);
                color: var(--whiteColor);
            }
        }
    }
    p {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 767px) {
    
    .ml-main-banner {
        background-position: center center;
        padding: {
            top: 130px;
            bottom: 140px;
        };
        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .ml-banner-content {
        text-align: center;

        h1 {
            font-size: 25px;
            margin-bottom: 14px;
        }
        p {
            max-width: 100%;
            font-size: 13px;
        }
    }
    .ml-banner-single-image {
        margin-top: 30px;
    }
    .ml-main-section {
        background-position: center center;
        padding: {
            top: 130px;
            bottom: 140px;
        };
        .ml-banner-content {    
            h1 {
                font-size: 25px;
            }
        }
    }
    .ml-banner-image {
        height: auto;
        top: 0;
        margin-top: 30px;
        text-align: center;

        img {
            display: none;
            position: relative;

            &:nth-child(12) {
                display: inline-block;
            }
        }
    }

    .ml-partner-area {
        &.mt-minus-top {
            margin-top: -125px;
        }
    }

    .solutions-area {
        padding-bottom: 20px;
    }
    .single-solutions-box {
        h3 {
            font-size: 17px;
        }
        .learn-more-btn {
            font-size: 13px;

            svg {
                width: 15px;
            }
        }
    }

    .ml-about-content {
        max-width: 100%;
        text-align: center;
        margin-top: 30px;

        h2 {
            font-size: 20px;
        }
        .bar {
            margin: {
                left: auto;
                right: auto;
            };
        }
    }
    .about-inner-area {
        margin-top: 0;

        .about-text {
            margin-top: 30px;

            h3 {
                font-size: 17px;
            }
        }
    }

    .ml-services-area {
        padding-bottom: 20px;
    }
    .single-ml-services-box {
        padding: 25px 20px;

        h3 {
            font-size: 17px;
        }
    }

    .funfact {
        margin-bottom: 30px;

        h3 {
            font-size: 25px;
            margin-bottom: 3px;
        }
    }
    .contact-cta-box {
        text-align: center;
        margin: 20px 0 0;
        max-width: 100%;
        padding: 30px 20px;

        h3 {
            font-size: 17px;
        }
        .btn {
            position: relative;
            right: 0;
            top: 0;
            margin-top: 15px;
        }
    }

    .ml-projects-area {
        padding-bottom: 20px;

        .section-title {
            text-align: center;
            max-width: 100%;

            h2 {
                max-width: 100%;
            }
            .bar {
                margin: {
                    left: auto;
                    right: auto;
                };
            }
        }
    }


    .pricing-area {
        padding-bottom: 20px;
    }
    .pricing-box {
        margin-bottom: 30px;
        padding: 25px;

        .pricing-header {
            h3 {
                font-size: 18px;
            }
        }
        .price {
            font-size: 25px;
            margin: {
                bottom: 15px;
                top: 15px;
            };
        }
        .pricing-features {
            padding: {
                left: 0;
                right: 0;
            };
            li {
                padding-left: 24px;
                font-size: 13px;

                svg {
                    width: 17px;
                }
            }
        }
    }

    .ml-feedback-area {
        padding-bottom: 20px;
    }
    .ml-feedback-slides {
        max-width: 100%;
        margin: -40px 0 0;
    }
    .single-ml-feedback-item {
        padding: 20px;
        text-align: center;

        .client-info {
            position: relative;
            left: 0;
            top: 0;
            transform: unset;
            text-align: center;
            margin-bottom: 15px;

            h3 {
                font-size: 17px;
            }
        }
        p {
            font-size: 13px;
        }
        &::after {
            margin: {
                left: 20px;
                right: 20px;
            };
        }
    }

    .single-blog-post-box {
        .entry-post-content {
            h3 {
                font-size: 17px;
            }
            .learn-more-btn {
                font-size: 13px;
            }
        }
    }

    .free-trial-area {
        padding-bottom: 50px;

        &::before {
            display: none;
        }
    }
    .free-trial-content {
        max-width: 100%;
        text-align: center;
        margin-top: 30px;

        h2 {
            font-size: 20px;
        }
        form {
            margin-top: 20px;

            .input-newsletter {
                width: 100%;
            }
            button {
                position: relative;
                font-size: 15px;
                border-radius: 30px;
                margin-top: 15px;
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    
    .ml-main-banner {
        .container-fluid {
            max-width: 540px;
        }
    }

    .about-area {
        .container-fluid {
            max-width: 540px;
        }
    }

    .free-trial-area {
        .container-fluid {
            max-width: 540px;
        }
    }
    .free-trial-content {
        form {
            button {
                position: absolute;
                border-radius: 0 30px 30px 0;
                margin-top: 0;
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .pricing-area {
        padding-bottom: 50px;
    }
    
    .ml-main-banner {
        background-position: center center;
        padding-top: 150px;

        .container-fluid {
            max-width: 720px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .ml-banner-single-image {
        margin-top: 30px;
    }
    .ml-banner-content {
        text-align: center;

        h1 {
            font-size: 30px;
        }
        p {
            max-width: 100%;
            font-size: 14px;
        }
    }
    .ml-main-section {
        background-position: center center;
        padding: {
            top: 150px;
            bottom: 140px;
        };
        .ml-banner-content {    
            h1 {
                font-size: 30px;
            }
        }
    }
    .ml-banner-image {
        height: auto;
        top: 0;
        margin-top: 30px;
        text-align: center;

        img {
            display: none;
            position: relative;

            &:nth-child(12) {
                display: inline-block;
            }
        }
    }

    .ml-partner-area {
        &.mt-minus-top {
            margin-top: -120px;
        }
    }

    .about-area {
        .container-fluid {
            max-width: 720px;
        }
    }
    .ml-about-content {
        text-align: center;
        max-width: 620px;
        margin: {
            left: auto;
            right: auto;
        };
        h2 {
            font-size: 25px;
        }
        .bar {
            margin: {
                left: auto;
                right: auto;
            };
        }
    }
    .about-inner-area {
        margin-top: 30px;

        .about-text {
            margin-top: 30px;
        }
    }

    .pricing-box {
        margin-bottom: 30px;
    }

    .free-trial-area {
        padding-bottom: 80px;

        .container-fluid {
            max-width: 720px;
        }
        &::before {
            display: none;
        }
    }
    .free-trial-content {
        text-align: center;
        margin: {
            left: auto;
            right: auto;
            top: 30px;
        };
        h2 {
            font-size: 25px;
        }
        form {
            margin-top: 20px;
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .ml-main-section {
        padding: {
            top: 130px;
            bottom: 140px;
        };
        .ml-banner-content {
            h1 {
                font-size: 40px;
            }
        }
        .row {
            align-items: center!important;
        }
    }
    .ml-banner-image {
        height: auto;
        top: 0;
        text-align: center;

        img {
            display: none;
            position: relative;

            &:nth-child(12) {
                display: inline-block;
            }
        }
    }

}

@media only screen and (min-width: 1550px) {

}

@media only screen and (min-width: 1550px) {

    .ml-main-banner {
        .container-fluid {
            padding: {
                left: 170px;
                right: 170px;
            };
        }
    }

}