<app-navbar-style-two></app-navbar-style-two>

<!-- Main Banner -->
<div class="hosting-main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="hosting-banner-content">
                            <h1>The Best Web Hosting</h1>
                            <ul>
                                <li>FREE Domain Name for 2st Year</li>
                                <li>FREE SSL Certificate Included</li>
                                <li>1-Click Wordpress Install</li>
                                <li>24/7 Support</li>
                            </ul>
                            <p>Starting at <span>$8.99</span> $3.95/month</p>
                            <a routerLink="/"  class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="hosting-banner-image">
                            <img src="assets/img/hosting-banner-image/1.png" class="animate__animated animate__fadeInDown" alt="image">
                            <img src="assets/img/hosting-banner-image/2.png" class="animate__animated animate__fadeInDown" alt="image">
                            <img src="assets/img/hosting-banner-image/3.png" class="animate__animated animate__fadeInDown" alt="image">
                            <img src="assets/img/hosting-banner-image/4.png" class="animate__animated animate__fadeInDown" alt="image">
                            <img src="assets/img/hosting-banner-image/5.png" class="animate__animated animate__fadeInDown" alt="image">
                            <img src="assets/img/hosting-banner-image/6.png" class="animate__animated animate__fadeInDown" alt="image">
                            <img src="assets/img/hosting-banner-image/7.png" class="animate__animated animate__fadeInDown" alt="image">
                            <img src="assets/img/hosting-banner-image/8.png" class="animate__animated animate__fadeInDown" alt="image">
                            <img src="assets/img/hosting-banner-image/9.png" class="animate__animated animate__fadeInDown" alt="image">
                            <img src="assets/img/hosting-banner-image/static-main.png" class="animate__animated animate__fadeInUp" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>

<!-- Boxes -->
<div class="boxes-area hosting-boxes-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="flaticon-money"></i>
                    </div>
                    <h3>Money-back Guarantee</h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-box bg-f78acb">
                    <div class="icon">
                        <i class="flaticon-data-1"></i>
                    </div>
                    <h3>Big Data Transfer</h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-box bg-c679e3">
                    <div class="icon">
                        <i class="flaticon-dashboard"></i>
                    </div>
                    <h3>99.9% Server Uptime</h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-box bg-eb6b3d">
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>
                    <h3>Live 24/7 Support</h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Domain Search -->
<div class="domain-search-area ptb-80">
    <div class="container">
        <div class="domain-search-content">
            <h2>Find Your Best Domain Name</h2>
            <form>
                <input type="text" class="form-control" name="domain-search" id="domain-search" placeholder="Search domain name here">
                <div class="domain-select">
                    <select class="form-select">
                        <option>.com</option>
                        <option>.net</option>
                        <option>.xyz</option>
                        <option>.tech</option>
                        <option>.club</option>
                        <option>.space</option>
                        <option>.global</option>
                        <option>.edu</option>
                    </select>
                </div>
                <button type="submit">Search</button>
            </form>
            <ul class="domain-price">
                <li>.com<br>$ 9.88</li>
                <li>.net<br>$ 7.88</li>
                <li>.xyz<br>$ 3.88</li>
                <li>.tech<br>$ 5.28</li>
                <li>.club<br>$ 2.38</li>
                <li>.space<br>$ 4.98</li>
                <li>.global<br>$ 8.99</li>
                <li>.edu<br>$ 6.88</li>
            </ul>
        </div>
    </div>
</div>

<!-- Why Choose US -->
<div class="why-choose-us ptb-80 pt-0" *ngFor="let bgImage of whyChooseBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-title">
                    <h2>Why Choose Us</h2>
                    <div class="bar"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="why-choose-us-image">
                    <img src="assets/img/why-choose-us-image/man-stand.png" class="animate__animated animate__fadeInLeft" alt="image">
                    <img src="assets/img/why-choose-us-image/database.png" class="animate__animated animate__fadeInRight" alt="image">
                    <img src="assets/img/services-left-image/cercle-shape.png" class="rotateme" alt="image">
                    <img src="assets/img/why-choose-us-image/main-static.png" class="main-pic animate__animated animate__fadeInUp" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-why-choose-us">
                            <div class="icon">
                                <i class="flaticon-team"></i>
                            </div>
                            <h3>Proficient & Friendly</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-why-choose-us">
                            <div class="icon">
                                <i class="flaticon-rocket"></i>
                            </div>
                            <h3>Extremely Fast</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-why-choose-us">
                            <div class="icon">
                                <i class="flaticon-shield"></i>
                            </div>
                            <h3>100% Safe & Security</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-why-choose-us">
                            <div class="icon">
                                <i class="flaticon-diamond"></i>
                            </div>
                            <h3>Top-Rated</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pricing -->
<div class="pricing-area ptb-80 bg-f7fafd">
    <div class="container">
        <div class="section-title">
            <h2>Pricing Plans</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-table">
                    <div class="pricing-header">
                        <i class="flaticon-data"></i>
                        <h3>Web Hosting</h3>
                    </div>
                    <div class="price">
                        <span><sup>$</sup>10.99<span>/m</span></span>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li><i-feather name="check"></i-feather> 99.9% Uptime Guarantee</li>
                            <li><i-feather name="check"></i-feather> Reliable & Secure</li>
                            <li><i-feather name="check"></i-feather> Powered by cPanel / Plesk</li>
                            <li><i-feather name="check"></i-feather> Web Asset Delivery</li>
                            <li><i-feather name="check"></i-feather> 24/7 Dedicated Support</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a routerLink="/" class="btn btn-primary">Select Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-table active-plan">
                    <div class="pricing-header">
                        <i class="flaticon-cloud"></i>
                        <h3>Cloud Hosting</h3>
                    </div>
                    <div class="price">
                        <span><sup>$</sup>13.99<span>/m</span></span>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li><i-feather name="check"></i-feather> 99.9% Uptime Guarantee</li>
                            <li><i-feather name="check"></i-feather> Reliable & Secure</li>
                            <li><i-feather name="check"></i-feather> Powered by cPanel / Plesk</li>
                            <li><i-feather name="check"></i-feather> Web Asset Delivery</li>
                            <li><i-feather name="check"></i-feather> 24/7 Dedicated Support</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a routerLink="/" class="btn btn-primary">Select Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-table">
                    <div class="pricing-header">
                        <i class="flaticon-vps"></i>
                        <h3>Vps Hosting</h3>
                    </div>
                    <div class="price">
                        <span><sup>$</sup>15.99<span>/m</span></span>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li><i-feather name="check"></i-feather> 99.9% Uptime Guarantee</li>
                            <li><i-feather name="check"></i-feather> Reliable & Secure</li>
                            <li><i-feather name="check"></i-feather> Powered by cPanel / Plesk</li>
                            <li><i-feather name="check"></i-feather> Web Asset Delivery</li>
                            <li><i-feather name="check"></i-feather> 24/7 Dedicated Support</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a routerLink="/" class="btn btn-primary">Select Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
</div>

<!-- Feedback -->
<div class="feedback-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>What users Saying</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="testimonials-slides">
            <owl-carousel-o [options]="testimonialsSlides">
                <ng-template carouselSlide>
                    <div class="single-feedback-item">
                        <div class="client-info align-items-center">
                            <div class="image">
                                <img src="assets/img/client-image/1.jpg" alt="image">
                            </div>
                            <div class="title">
                                <h3>Steve Lucy</h3>
                                <span>Lead Developer at Envato</span>
                            </div>
                        </div>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-item">
                        <div class="client-info align-items-center">
                            <div class="image">
                                <img src="assets/img/client-image/2.jpg" alt="image">
                            </div>
                            <div class="title">
                                <h3>David Luiz</h3>
                                <span>Lead Developer at Envato</span>
                            </div>
                        </div>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-item">
                        <div class="client-info align-items-center">
                            <div class="image">
                                <img src="assets/img/client-image/3.jpg" alt="image">
                            </div>
                            <div class="title">
                                <h3>Marta Smith</h3>
                                <span>Lead Developer at Envato</span>
                            </div>
                        </div>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>

<!-- Ready to Talk -->
<div class="ready-to-talk">
    <div class="container">
        <h3>Ready to talk?</h3>
        <p>Our team is here to answer your question about Profun</p>
        <a routerLink="/contact" class="btn btn-primary">Contact Us</a>
        <span><a routerLink="/">Or, get started now with a free trial</a></span>
    </div>
</div>

<!-- Partner -->
<div class="partner-area partner-section ptb-80 pt-0">
    <div class="container">
        <h5>More that 1.5 million businesses and organizations use Profun</h5>
        <div class="partner-inner">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-1.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover1.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-2.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover2.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-3.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover3.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-4.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover4.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-5.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover5.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-6.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover6.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-7.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover7.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-8.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover8.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-9.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover9.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-10.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover10.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-11.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover11.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-12.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover12.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-13.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover13.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-14.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover14.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-15.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover15.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-16.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover16.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-17.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover17.png" alt="partner">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 col-sm-4">
                    <a href="#" target="_blank">
                        <img src="assets/img/partner-img/partner-18.png" alt="partner">
                        <img src="assets/img/partner-img/partner-hover18.png" alt="partner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div class="hosting-features-area ptb-80 bg-f9f6f6">
    <div class="container">
        <div class="section-title">
            <h2>Our Features</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <i-feather name="settings"></i-feather>
                    </div>
                    <h3>Incredible Infrastructure</h3>
                    <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon bg-c679e3">
                        <i-feather name="info"></i-feather>
                    </div>
                    <h3>Information Retrieval</h3>
                    <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <i-feather name="bell"></i-feather>
                    </div>
                    <h3>Best Analytics Audits</h3>
                    <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon bg-c679e3">
                        <i-feather name="grid"></i-feather>
                    </div>
                    <h3>Simple Dashboard</h3>
                    <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <i-feather name="mail"></i-feather>
                    </div>
                    <h3>Email Notifications</h3>
                    <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon bg-c679e3">
                        <i-feather name="hard-drive"></i-feather>
                    </div>
                    <h3>Deep Technical SEO</h3>
                    <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog -->
<div class="blog-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>The News from Our Blog</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/blog-image/1.jpg" alt="image">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 15, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a routerLink="/blog-details">The security risks of changing package owners</a></h3>
                        <span>by <a routerLink="/blog-grid">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read More <i-feather name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/blog-image/2.jpg" alt="image">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 17, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a routerLink="/blog-details">Tips to Protecting Your Business and Family</a></h3>
                        <span>by <a routerLink="/blog-grid">Smith</a></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read More <i-feather name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/blog-image/3.jpg" alt="image">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 19, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a routerLink="/blog-details">Protect Your Workplace from Cyber Attacks</a></h3>
                        <span>by <a routerLink="/blog-grid">John</a></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read More <i-feather name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CTA -->
<div class="cta-area ptb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="cta-content">
                    <h3>Sign up for web hosting today!</h3>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="cta-right-content">
                    <div class="hosting-price">
                        <span>Starting at only</span>
                        <h4>$4.75/mo*</h4>
                    </div>
                    <div class="buy-btn">
                        <a routerLink="/" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>