<app-navbar-style-one></app-navbar-style-one>
<br><br><br><br><br><br><br><br>

<div class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 offset-lg-3">
                        <div class="banner-form ml-3">
                            <form (submit)="signin()" [formGroup]="form" id="createForm" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Enter Email Address" formControlName="email" required>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Enter Password" formControlName="password" required>
                                </div>
                               
                                <div class="flex items-center justify-between mb-5 gap-5">
                                    <a href="/signup" class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Join Us</a>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary radius-30">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>
<br><br><br><br><br><br><br><br>

<div class="ml-partner-area pt-0 ptb-80">
    <div class="container">
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-1.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover1.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-2.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover2.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-3.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover3.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-10.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover10.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-5.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover5.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-6.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover6.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-ml-partner">
                        <a href="#" target="_blank">
                            <img src="assets/img/partner-img/partner-7.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover7.png" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<div class="funfacts-area ptb-80" style="
    background-image: url('assets/img/map.png');
    background-size: 70%; /* Ajuste la taille de l'image pour un effet de zoom out */
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: #fff; /* Optionnel: couleur du texte pour contraste */
">
    <div class="container">
        <div class="section-title">
            <h2>We always try to understand users expectation</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span [countUp]="180">00</span>K</h3>
                    <p>Downloaded</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span [countUp]="20">00</span>K</h3>
                    <p>Feedback</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span [countUp]="500">00</span>+</h3>
                    <p>Workers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span [countUp]="70">00</span>+</h3>
                    <p>Contributors</p>
                </div>
            </div>
        </div>
    </div>
</div>